<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="My Fakebook profile">
    <meta name="keywords" content="profile, Fakebook, activities">
    <meta name="author" content="Rok Zabret">
    <title>Fakebook - Rok Zabret</title>
    <link rel="stylesheet" href="/static/css/fakebook.css">
</head>
<body>
    <h1>FAKEBOOK</h1>

    <b>Search:</b> <input type="text" placeholder="Search by name">

    <br>

    <h2>Rok Zabret</h2>
    <img src="https://bit.ly/321YBP6" alt="me" width="350" height="200">
    <br>
    <br>

    <button class="button">Add as friend</button>
    <br>

    <p><strong>Age:</strong><i>32</i></p>
    <p><strong>Education:</strong><i>Faculty of Civil and Geodetic Engineering</i></p>
    <p><strong>Activities:</strong><i>TV, work, computer,...</i></p>
    <p><strong>FB friends:</strong><i>n+1</i></p>

</body>
</html>